In [1]:
import pandas as pd
R_pd = pd.read_csv("../R_pd.csv")
T_pd = pd.read_csv("../T_pd.csv")

In [2]:
import numpy as np
import pandas as pd
def similarity(movie_i, movie_j, data):
    if(movie_i==movie_j):
        print("You entered the same movie")
        return 1.
    movie_i_group = pd.DataFrame([])
    movie_j_group = pd.DataFrame([])
    grouped = data.groupby('Movie_id')
    movie_i_found = False
    movie_j_found = False
    #number_common_users = 0
    for name, group in grouped:
        #print(name)
        if (name==movie_i):
            movie_i_found = True
            movie_i_group=group
        elif(name==movie_j):
            movie_j_found = True
            movie_j_group=group
        else:
            continue
    if(not movie_j_found or not movie_i_found):
        print("No movie found")
        return 0
    try:
        common_users = pd.merge(movie_i_group, movie_j_group, on='Customer_id', how='inner')
        pearson_cor = np.corrcoef(common_users['Rating_x'].values.tolist(), common_users['Rating_y'].values.tolist())[0, 1]
        number_common_users = common_users.shape[0]
        similarity_result = number_common_users*pearson_cor/(number_common_users+100)
    except:
        print("There where am error, maybe the two movies don't have common users")
        similarity_result = 0

    return similarity_result

In [3]:
similarity(10, 1, R_pd)

#a = pd.merge(movie1, movie2, on='Customer_id', how='inner')#, lsuffix='_caller')

0.06715382980009553

In [35]:
def k_similar_u_movies(user_id, data, movie_i_id, k):
    user_movies = data.loc[data['Customer_id'] == user_id]['Movie_id'].values.tolist()
    if(len(user_movies)==0):
        print("This user don't exits in the trainset")
        return np.array([])
    if(k>len(user_movies)):
        print("This user don't have this much rated movies , try to decrease the value of k , currently he has ===>", len(user_movies))
        k = len(user_movies)
    u_similar_movies_i = []
    for movie_j in user_movies:
        u_similar_movies_i+=[[similarity(movie_j, movie_i_id, data),movie_j]]
    u_similar_movies_i.sort(reverse=True)
    return np.array(u_similar_movies_i[:k])

In [31]:
len(np.array([]))

0

In [19]:
a = k_similar_u_movies(258010, R_pd, 1, 1)

In [57]:
a = np.array([[0.5, 12], [0.6, 10]])
sum(a[:,0].tolist())

1.1

In [27]:
a = [[0.5, 12], [0.6, 10]]
a.sort(reverse=True)

In [12]:
np.array(a)

array([[ 0.6, 10. ],
       [ 0.5, 12. ]])

In [87]:
vowels = [1, 5, 3, 1, 10]

In [69]:
R_pd["Movie_id"]

3.2758892113937126

In [17]:
baseline_estimator(30878, 1, R_pd)

1.4531184221940738

In [25]:
R_pd.loc[R_pd['Customer_id'] == 1531863]['Movie_id'].values.tolist()

[]

In [33]:
def correlation_based_neighbourhood_model(user_id, data, movie_i_id, k):
    skiu = k_similar_u_movies(user_id, data, movie_i_id, k)
    if(len(skiu)==0):
        return 0
    bui = baseline_estimator(user_id, movie_i_id, data)
    second_part = 0
    j_movies = skiu[:,1].astype("int").tolist()
    j_movies_i_similarity = skiu[:,0].tolist()
    for j in j_movies:
        sij = similarity(j, movie_i_id, data)
        buj = baseline_estimator(user_id, j, data)
        ruj = data.query('Customer_id=='+str(user_id)+' and Movie_id=='+str(j))['Rating'].values[0]
        second_part+=sij*(ruj - buj)
    estimated_rating = bui + second_part/sum(j_movies_i_similarity)
    if(estimated_rating<1):
        print("rating less than 1")
        estimated_rating = 1
    elif(estimated_rating>5):
        print("rating greater than 5")
        estimated_rating = 5
    return estimated_rating

In [43]:
correlation_based_neighbourhood_model(2647871, R_pd, 1, 4)

This user don't have this much rated movies , try to decrease the value of k , currently he has ===> 1
rating greater than 5
rating greater than 5

5.0

In [ ]:
R_pd.loc[R_pd['Movie_id'] == 10]["Rating"]

In [89]:
var = 10
customer = 88188
R_pd.query('Customer_id=='+str(customer)+' and Movie_id=='+str(var))['Rating']

20322    3
Name: Rating, dtype: int64

In [90]:
R_pd

       Customer_id  Rating        Date  Movie_id
0          1488844       3  2005-09-06         1
1           822109       5  2005-05-13         1
2           885013       4  2005-10-19         1
3           823519       3  2004-05-03         1
4           893988       3  2005-11-17         1
...            ...     ...         ...       ...
20322        88188       3  2005-12-06        10
20323      1462129       4  2005-03-11        10
20324      1796454       3  2004-01-29        10
20325      1213178       3  2005-12-10        10
20326       515617       4  2003-03-28        10

[20327 rows x 4 columns]

In [14]:
T_pd

    Customer_id  Rating        Date  Movie_id
0         30878       4  2005-12-26         1
1       2647871       4  2005-12-30         1
2       1283744       3  2004-04-17         1
3       2488120       5  2005-09-20         1
4        317050       5  2005-11-15         1
5       1904905       4  2005-05-13         1
6       1989766       4  2005-07-08         1
7         14756       4  2005-12-27         1
8       1027056       3  2005-12-03         1
9       1149588       4  2005-12-13         1
10      1394012       5  2005-12-19         1
11      1406595       4  2005-08-27         1
12      2529547       5  2005-11-18         1
13      1682104       4  2005-08-30         1
14      2625019       3  2005-09-12         1
15      2603381       5  2005-11-29         1
16      1774623       4  2005-11-23         1
17       470861       5  2004-06-28         1
18       712610       4  2005-04-27         1
19      1772839       5  2005-09-19         1
20      1059319       3  2005-10-10         1
21      2380848       5  2005-01-11         1
22       548064       5  2005-12-02         1
23      1952305       3  2005-07-19        10
24      1531863       3  2005-12-21        10

In [42]:
exist =[]
for index, row in T_pd.iterrows():
    print("The user",row['Customer_id'] )
    if row['Customer_id'] in R_pd['Customer_id'].values.tolist():
        exist.append(row['Customer_id'])
        print("exist")
    else:
        print("Do not exist")

The user 30878
exits
The user 2647871
exits
The user 1283744
Do not exist
The user 2488120
Do not exist
The user 317050
Do not exist
The user 1904905
Do not exist
The user 1989766
Do not exist
The user 14756
Do not exist
The user 1027056
Do not exist
The user 1149588
Do not exist
The user 1394012
Do not exist
The user 1406595
Do not exist
The user 2529547
Do not exist
The user 1682104
Do not exist
The user 2625019
Do not exist
The user 2603381
Do not exist
The user 1774623
Do not exist
The user 470861
Do not exist
The user 712610
Do not exist
The user 1772839
Do not exist
The user 1059319
Do not exist
The user 2380848
Do not exist
The user 548064
Do not exist
The user 1952305
Do not exist
The user 1531863
Do not exist